@use '../../../styles/tokens' as t;

.story{
    width: '80%';
    padding-left: 10%;
    padding-right: 10%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .lists{
        width: 40%;
        height: 100%;
        background-color: t.$orange-color;
        list-style: none;
    }
    .story_text{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div{
            height: 16px;
            width: 16px;
            background-color: t.$secondary-blue;
        }
        h3{
            font-size: 36px;
        }
    }

}