.teamwork{
    width: 80%;
    margin-top: 8vh;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .teamwork_list{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        div{
            width: 25%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .teamwork_text{
        width: 45%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 64px;
        h6{
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
}