@use '../../../styles/tokens' as t;

.company_header{
    width: 80%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8vh;
    margin-bottom: 4vh;
    .company_list{
            height: 60%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .shape{
                height: 24px;
                display: flex;
                justify-self: flex-end;
                align-self: flex-end;
            }
            div{
                width: 100%;
                height: calc(100% - 24px);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                img{
                    width: 30%;
                    object-fit: contain;
                }
            }
        }
    .company_header_top{
        height: 35%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .shape_top{
            width: 48px;
            display: flex;
            justify-self: flex-end;
            align-self: flex-start;
        }
        .company_text{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .square{
                width: 28px;
                height: 28px;
                background-color: t.$orange-color;
            }
        }
    }
}