.img_par{
    width: 515px;
    height: 539px;
    display: flex;
    align-self: flex-start;
}

.text_par{
    height: 60%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    h6{
        font-size: 24px;
    }
    h3{
        font-size: 36px;
    }
    p{
        color: rgba(35, 37, 54, 1);
    }
}