.img_par{
    width: 40%;
    height: 80%;
    display: flex;
    align-self: flex-start;
    object-fit: contain;
}

.text_par{
    height: 60%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    h6{
        font-size: 24px;
    }
}