.text_blog{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;
    img{
        width: 100%;
        height: 30vh;
        object-fit: contain;
    }
    div{
        padding-top: 10vh;
        width: 70%;
        p{
            line-height: 24px;
        }
        h3{
            font-size: 36px;
            margin-bottom: 20px;
        }
    }
}