$secondary-blue: rgba(102, 109, 255, 1);
$light-blue: rgba(236, 248, 249, 1);
$orange-color: rgba(255, 230, 210, 1);
$button-blue: rgba(68, 76, 252, 1);
$light-purple: rgba(249, 249, 255, 1);

$dark-text: rgba(35, 37, 54, 1);
