@use '../../../styles/tokens' as t;

.title_blog{
    width: 80%;
    margin-top: 8vh;
    margin-bottom: 8vh;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .title_blog_text{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            opacity: 87%;
        }
        .title_square{
            width: 24px;
            height: 24px;
            background-color: t.$orange-color;
        }
        .title_author{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            img{
                height: 32px;
                width: 32px;
                border-radius: 20px;
            }
            h6{
                font-weight: 400;
            }
            p{
                opacity: 60%;
            }
            div{
                height: 16px;
                width: 1px;
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
            
    }
    .title_blog_shape{
        width: 48px;
    }
}

@media (max-width: 425px){
    .title_blog{
    height: 60vh;
    flex-direction: column-reverse;
    .title_blog_text{
        width: 100%;
        height: 90%;
        .title_author{
            flex-direction: row;
            img{
                height: 32px;
                width: 32px;
                border-radius: 20px;
            }
            h6{
                font-weight: 400;
                font-size: 12px;
                width: auto;
            }
            p{
                opacity: 60%;
                font-size: 12px;
            }
            div{
                display: none;
            }
        }
            
    }
    .title_blog_shape{
        width: 32px;
        display: flex;
        align-self: flex-end;
    }
}
}

@media (min-width: 426px) and (max-width: 768px){
    .title_blog{
    height: 60vh;
    flex-direction: column-reverse;
    .title_blog_text{
        width: 100%;
        height: 90%;
        .title_author{
            flex-direction: row;
            img{
                height: 32px;
                width: 32px;
                border-radius: 20px;
            }
            h6{
                font-weight: 400;
                font-size: 12px;
                width: auto;
            }
            p{
                opacity: 60%;
                font-size: 12px;
            }
            div{
                display: none;
            }
        }
            
    }
    .title_blog_shape{
        width: 32px;
        display: flex;
        align-self: flex-end;
    }
}}