.about_us{
    width: 80%;
    height: 120vh;
    margin-top: 8vh;
    margin-bottom: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .about_us_title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 22%;
        h3{
            width: 50%;
        }
        div{
            height: 80%;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3{
                width: 100%;
            }
        }
    }
    .about_us_images{
        height: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .about_us_image_last{
            display: flex;
            flex-direction: row;
        }
    }
    .about_us_bottom{
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 40%;
            list-style: none;
            li{
                h5{
                    font-size: 36px;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 425px){
    .about_us{
    height: 175vh;
    .about_us_title{
        flex-direction: column;
        h3{
            width: 100%;
        }
        div{
            height: 60%;
            width: 100%;
        }
    }
    .about_us_images{
        height: auto;
        width: 100%;
        flex-direction: column;
        gap: 12px;
        img{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
        .about_us_image_last{
            display: none;
        }
    }
    .about_us_bottom{
        align-items: flex-start;
        flex-direction: column;
        height: 20%;
        ul{
            flex-wrap: wrap;
            width: 100%;
            li{
                width: 45%;
                height: 45%;
                h5{
                    font-size: 24px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}
}