@use '../../styles/tokens' as t;

.privacy_section{
    height: 160vh;
    width: 80%;
    margin-top: 8vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .privacy_text{
        height: 85%;
        div{
            height: calc(100% - 216px);
            background-color: t.$light-blue;
            padding-top: 96px;
            padding-bottom: 96px;
            padding-left: 221px;
            padding-right: 221px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h4{
                font-size: 36px;
                padding: 0;
            }
            h5{
                font-size: 24px;
            }
        }
        img{
            height: 24px;
        }
    }
    .privacy_title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 10%;
        div{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .privacy_square{
            width: 24px;
            height: 24px;
            background-color: rgba(255, 211, 175, 1);
        }
        p{
            color: t.$dark-text;
            opacity: 60%;
        }
        img{
            width: 48px;
        }
    }
}

@media (max-width: 425px){
        .privacy_section{
        height: 295vh;
        width: 80%;
        .privacy_title{
        height: 7%;
        }
        .privacy_text{
            height: 90%;
            div{
                height: calc(100% - 40px);
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 20px;
                padding-right: 20px;
                p{
                    font-size: 12px;
                    text-align: center;
                }
                h4{
                    font-size: 24px;
                    padding: 0;
                }
                h5{
                    font-size: 14px;
                }
            }
            img{
                width: 100%;
            }
        }
    }
}

@media (min-width: 426px) and (max-width: 768px){
    .privacy_section{
        height: 200vh;
        width: 80%;
        .privacy_title{
        height: 7%;
        }
        .privacy_text{
            height: 90%;
            div{
                height: calc(100% - 40px);
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 20px;
                padding-right: 20px;
                p{
                    font-size: 14px;
                    text-align: center;
                }
                h4{
                    font-size: 28px;
                    padding: 0;
                }
                h5{
                    font-size: 18px;
                }
            }
            img{
                width: 100%;
            }
        }
    }
}