@use '../../../styles/tokens' as t;

.services_section{
    margin-bottom: 8vh;
    height: 100vh;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: t.$orange-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .services_list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .services_text{
        height: 40%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 425px){
    .services_section{
    padding-top: 5%;
    padding-bottom: 5%;
    height: 150vh;
    .services_list{
        height: 75%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .services_text{
        height: 20%;
        width: 100%;
    }
}
}