@use '../../../styles/tokens' as t;

.services_card{
    background-color: white;
    width: 357px;
    height: 287px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .icon{
        width: 47px;
        height: 47px;
        background-color: t.$orange-color;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 24px;
            width: 24px;
        }
    }
}

@media (max-width: 425px){
    .services_card{
    width: calc(100% - 48px);
    height: 210px;
    padding: 24px;
}
}