.culture{
    background-color: rgba(250, 250, 252, 1);
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 8vh;
    margin-bottom: 8vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .list{
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .text{
        width: 40%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p{
            opacity: 60%;
        }
    }
}

@media (max-width: 425px){
    .culture{
        height: auto;
        flex-direction: column;
        gap: 32px;
        .list{
            width: 100%;
            justify-content: center;
        }
        .text{
            width: 100%;
            height: auto;
            align-items: center;
            text-align: center;
        }
    }
}