.member_info{
    height: 55vh;
    width: 30vw;
    margin-bottom: 8vh;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    img{
        width: 320px;
        height: 320px;
        border-radius: 200px;
    }
    h3{
        font-size: 36px;
    }
    h6{
        font-size: 14px;
        opacity: 70%;
    }
    p{
        opacity: 87%;
        width: 80%;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        width: 20%;
        li{
            a{
                img{
                    width: 16px;
                    height: auto;
                    border-radius: 0px;
                }
            }
        }
    }
}

@media (max-width: 425px){
        .member_info{
        width: 80%;
        img{
            width: 150px;
            height: 150px;
        }
        h3{
            font-size: 20px;
        }
        h6{
            font-size: 14px;
            opacity: 70%;
        }
        p{
            font-size: 14px;
        }
        ul{
            width: 40%;
        }
    }
}

@media (min-width: 426px) and (max-width: 768px){
        .member_info{
        width: 80%;
        img{
            width: 200px;
            height: 200px;
        }
        h3{
            font-size: 24px;
        }
        h6{
            font-size: 16px;
            opacity: 70%;
        }
        p{
            font-size: 16px;
        }
        ul{
            width: 30%;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .member_info{
        width: 80%;
        img{
            width: 250px;
            height: 250px;
        }
        h3{
            font-size: 28px;
        }
        h6{
            font-size: 18px;
            opacity: 70%;
        }
        p{
            font-size: 18px;
        }
        ul{
            width: 30%;
        }
    }
}