@use '../../../styles/tokens' as t;

.card_exp{
    width: 483px;
    height: 108px;
    padding: 32px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .icon{
        width: 47px;
        height: 47px;
        background-color: t.$orange-color;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 24px;
            width: 24px;
        }
    }
    div{
        width: 80%;
    }
}

@media (max-width: 425px){
    .card_exp{
    width: calc(100% - 48px);
    height: 138px;
    padding: 24px;
    flex-direction: column;
    }
}