@use '../../../styles/tokens' as t;

.service_process{
    height: 130vh;
    background-color: t.$light-purple;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .service_process_steps{
        height: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .service_process_text{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img{
            width: 29px;
            align-self: flex-start;
            justify-self: flex-end;
        }
        div{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

@media (max-width: 425px){
    .service_process{
    height: 200vh;
    .service_process_steps{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
    }
    .service_process_text{
        width: 100%;
        height: 15%;
        flex-direction: column-reverse;
        img{
            width: 29px;
            align-self: flex-end;
            justify-self: flex-end;
        }
        div{
            width: 100%;
            height: 85%;
        }
    }
}
}

@media (min-width: 426px) and (max-width: 768px){
    .service_process{
    height: 200vh;
    .service_process_steps{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
    }
    .service_process_text{
        width: 100%;
        height: 15%;
        flex-direction: column-reverse;
        img{
            width: 29px;
            align-self: flex-end;
            justify-self: flex-end;
        }
        div{
            width: 100%;
            height: 85%;
        }
    }
}}

@media (min-width: 769px) and (max-width: 1024px){
    .service_process{
    height: 180vh;
    }
}
