.latest_card{
    width: 624px;
    height: 248px;
    background-color: white;
    display: flex;
    flex-direction: row;
    .card_pic{
        height: 100%;
        width: 296px;
    }
    div{
        width: auto;
        height: calc(100% - 64px);
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            color: rgba(35, 37, 54, 1);
            font-size: 14px;
        }
        h5{
            font-size: 24px;
        }
        a{
            display: flex;
            text-decoration: none;
            img{
                width: 24px;
                margin-left: 12px;
            }
        }
    }
}