@use '../../../styles/tokens' as t;

.job_title{
    width: 70%;
    height: 30vh;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8vh;
    margin-bottom: 8vh;
    .job_right{
        height: 100%;
        width: 40%;
        background-color: t.$orange-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            display: flex;
            justify-self: flex-end;
            align-self: flex-end;
            width: 40px;
        }
        div{
            width: 80%;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            justify-self: center;
            div{
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
    .job_left{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 425px){
    .job_title{
        width: 100%;
        height: 50vh;
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
        align-items: center;
        .job_right{
            width: 80%;
            height: 40%;
            margin-bottom: 5vh;
            img{
                width: 30px;
            }
            div{
                width: 100%;
                height: 100%;
                justify-content: space-around;
                div{
                    height: auto;
                }
            }
        }
        .job_left{
            width: 80%;
            height: auto;
            align-items: center;
        }
    }
}